.header{
    background: #fff;
    max-width: 100%;
    height: 70px;
}
.header-content{
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid #333; /* Border bottom color and thickness */
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.5);
}
.header .header-content .header-logo{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header .header-content img{
    object-fit: contain;
}

.header .header-content h1{
    height: 2rem;
    font-family: Roboto,sans-serif;
    font-size: 32px;
    color: #0B192C;
    line-height: 2.5rem;
}
.header-navigation{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
/* Add this CSS in your stylesheet */
.active-link {
    color: #000; /* Example color for active link */
    font-weight: bold;
    text-decoration: none;
    border-bottom: 2px solid #000;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.inactive-link {
    color: #000000; /* Example color for active link */
    text-decoration: none;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
