.body-home{
    width: 100vw;
    min-height: 70vh;
    display: flex;
    justify-content: center;
    padding: 40px ;
}
.body-home-container{
    width: 70%;
    background-color: #fff;
    display: flex;
    justify-content: start;
}
.body-home .body-home-container .card{
    width: 20% !important;
    height: 320px;
    background-color: transparent;
    border-radius: 10px;
    cursor: pointer;
}
.body-home .body-home-container .card .card-body{
    width: 100%;
    height: 70%;
    position: relative;
    padding: 0;
    display: flex !important;
    justify-content: center;
}
.body-home .body-home-container .card .card-body .card-body-image{
    margin-top: 2px;
    width: 90%;
    height: 100%;
    display: flex;
    align-items: end;
}
.body-home .body-home-container .card .card-body .card-body-image img{
    width: 100%;
}
.body-home .body-home-container .card .card-body .circle{
    width: 80px;
    height: 80px;
    border-radius: 50px;
    background-color: #272528;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 100%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 999;
}

.body-home .body-home-container .card .card-body .circle .sub-circle{
    width: 70px;
    height: 70px;
    background-color: #0866ff;
    position: absolute;
    border-radius: 50px;
}
.body-home .body-home-container .card .card-footer{
    width: 100%;
    height: 30%;
    background-color: #272528;
    margin-top: 2px
}
.body-home .body-home-container .card .card-footer p{
    color: #fff;
    font-size: 28px;
    text-align: center;
    text-transform: capitalize;
    font-family: Roboto,sans-serif;
    margin-top: 15%;
    line-height: 2.25rem;
}