.container-form-test {
    width: 70%;
    margin-top: 32px
}

.form-test {
    width: 100%;
    height: 412px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}

.step-picture {
    height: 90%;
    width: 30%;
    display: flex;
    justify-content: center;
}

.picture-uploader {
    border: 1px solid #000;
    background-color: #efefef;
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.picture-loaded {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.step-separator {
    height: 100%;
    border: 1px solid gray;
}

.step-content {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.step-content-traits {
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 900px) {
    .container-form-test {
        width: 90% !important;
    }
    .picture-uploader{
        width: 204px;
        min-height: 256px;
    }

    .picture-loaded img {
        height: auto !important;
    }
    .step-picture{
        width: 100% !important;
        min-height: auto !important;
    }

    .step-content-category {
        display: flex;
        flex-direction: row !important;
        height: 60%;
        justify-content: space-around;
        align-items: center;
    }
    .step-content{
        width: 100%;
        margin: 32px 0;
    }
}

@media only screen and (max-width: 600px) {
    .step-content{
        width: 100%;
        margin: 32px 0;
    }
    .picture-uploader{
        width: 204px;
        min-height: 256px;
    }
    .step-content-category {
        display: flex;
        flex-direction: row !important;
        width: 100%;
        justify-content: space-around;
        align-items: center;
    }
    .step-picture{
        width: 100% !important;
        height: auto !important;
    }
}